
.fundo{

    background-color: thistle;
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    h1{
    color: black;
    font-size: medium;
    background-color: yellow;
    

}  
    
    img{
    
        text-align: center;
    
    
    }
    